/* reset css */
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  // border: solid 1px red;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
}
input {
  padding: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

/* basic setting */
$body-bg: #ffffff;
$body-color: #2a2a2a;
$invalid-gray: #999999;
$white: #fff;
$pink: #f67599 ;
$footer-gray: #f6f7f8;
$black: #121212;
$footer-black: #333333;
$neutral: #afb1bd;
$gray: #808080;
$light-gray: #f0f0f5;
$default-font-color: #afb1bd;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

/////// start ///////

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}

%input-style {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  &:hover,
  &:focus {
    border-color: $pink;
  }
}

.d-none {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#main-app {
  height: 100%;
}



header {
  align-items: center;
  width: 100%;
  height: 60px;

  background: white;
  position: fixed;
  top: 0;
  z-index: 999;

  .container {
    height: 100%;
    position: relative;
    display: flex;
    .navbar-brand {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .navbar-toggle-label img {
    width: 20px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 20px;
  }
  .navbar-toggle {
    visibility: hidden;
    position: absolute;
  }
  .navbar-brand img {
    width: 135.86px;
    height: 24px;
    margin: 0 auto;
  }
  .navbar-toggle:checked ~ .nav {
    transform: scale(1, 1);
    .nav-item {
      transition: opacity 0.2s ease-out 0.15s;
      opacity: 1;
    }
  }
  .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    background: #ffffff;
    transition: transform 0.4s ease-out;
    transform-origin: top;
    transform: scale(1, 0);
    .nav-item {
      opacity: 0;
      img{
        cursor: pointer;
      }
    }
    a {
      color: black;
      font-weight: 500;
      img {
        width: 60%;
        margin-left: 10px;
      }
    }
  }
}

main {
  .h1-container {
    width: 80%;
    margin: 0 auto;
  }
  padding-top: 60px;
  .upper-content {
    .stepper-panel {
      padding-top: 15px;
      height: 32px;
      .stepper-container {
        width: 100%;
        justify-content: space-between;
        .step {
          text-align: center;
          width: 32px;
          line-height: 32px;
          color: $default-font-color;
          position: relative;
          @include getStepNums(3);
          .circle-container {
            height: 32px;
            width: 32px;
            background-color: white;
            border-radius: 50%;
            border: solid 1px $default-font-color;
            margin: 0 auto;
          }
          .label-container {
            visibility: hidden;
          }
          .connect-line {
            display: block;
            height: 1px;
            background-color: $default-font-color;
            position: absolute;
            top: 15px;
            width: 300%;
            right: calc(600% + 40px);
            left: calc(-350% + 10px);
          }
          &.step-one .circle-container {
            background-color: black;
            border-color: black;
            color: white;
          }
          &.step-one .circle-container::after {
            color: white;
          }
          &.checked .circle-container::after {
            content: "\2714";
            color: white;
          }
          &.checked .circle-container {
            background-color: black;
            border-color: black;
          }
          &.active .circle-container {
            color: black;
            border-color: black;
          }
        }
      }
    }
    .form {
      padding-top: 40px;
      margin-bottom: 32px;
      .part-one {
        .form-row {
          margin-bottom: 16px;
          > label {
            display: block;
            margin-bottom: 6px;
            font-weight: 500;
            color: gray;
          }
          .select-wrapper {
            width: 40%;
          }
          .name-wrapper {
            width: 50%;
          }
          .telephone,
          .city-wrapper {
            margin-bottom: 24px;
          }
          #phone,
          #email,
          #city,
          #address {
            width: 100%;
          }
        }
        select {
          @extend %input-style;
        }
        input {
          @extend %input-style;
        }
      }
      .part-two {
        height: 192px;
        width: 100%;
        .transport-method {
          border: 1px solid #F0F0F5;
          border-radius: 8px;
          margin: 24px 0 24px 0;
          width: 100%;
          height: 60px;
          input {
            border: 1px solid black;
            font-size: 16px;
            padding: 0.5em;
            &[type="radio"] {
              -webkit-appearance: none;
              border-radius: 50%;
              cursor: pointer;
              &:checked {
                box-shadow: inset 0 0 0 5px black;
              }
            }
          }
          &.selected{
            border: 1px solid black;
          }
        }
      }
      .part-three {
        input {
          @extend %input-style;
        }
        .form-row {
          margin-bottom: 16px;
          > label {
            display: block;
            margin-bottom: 6px;
            font-weight: 500;
            color: gray;
          }
          #card,
          #card-name {
            width: 100%;
          }
          .validity-container,
          .cvc-container {
            width: 45%;
          }
        }
      }
    }
  }

  .cart {
    border: solid 1px $light-gray;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    .product {
      margin-bottom: 18px;
      padding-bottom: 16px;
      border-bottom: solid 1px $light-gray;
      .product-photo {
        height: 100px;
        width: 100px;
      }
      .product-info {
        .count {
          width: 116px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 26px;
            height: 27px;
            cursor: pointer;
          }
        }
        .price,
        .amount-total,
        .shipping-total {
          font-weight: 900;
        }
      }
    }
    .shipping,
    .amount {
      margin: 16px 0;
      .amount-total,
      .shipping-total {
        font-weight: 900;
      }
    }
    .shipping {
      border-bottom: solid 1px $light-gray;
      padding-bottom: 16px;
    }
  }
  .hr {
    border-top: 1px solid $light-gray;
  }
  .control-panel {
    display: flex;
    justify-content: space-between;
    .btn {
      width: 146px;
      height: 46px;
      border-radius: 8px;
      &.first-next-step {
        width: 100%;
      }
      &.first-last-step {
        display: none;
      }
      &.next-step {
        background-color: $pink;
        color: white;
      }
    }
  }
}

footer {
  display: none;
}

@media screen and (min-width: 375px) {
  body{
  background-color: #F6F7F8;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  header {
    .container {
      display: grid;
      grid-template-columns: 4fr 1fr auto 3fr 2fr;
      align-items: center;
      .navbar-brand {
        grid-column: 2/3;
        order: 2;
        img {
          width: 168.83px;
          height: 30px;
        }
      }
      .nav {
        all: unset;
        text-align: left;
        grid-column: 1/2;
        .nav-list {
          display: grid;
          grid-auto-flow: column;
          .nav-item {
            margin: 0;
            opacity: 1;
          }
          .nav-icons {
            position: absolute;
            right: 0;
            top: 8px;
          }
        }
      }
    }
    .navbar-toggle-label {
      display: none;
    }
    .navbar-toggle-label img {
      all: unset;
    }
  }
  main {
    background-color: white;
    .container {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-template-rows: 1fr 200px;
      grid-gap: 50px;
      .left-content {
        order: 1;
        .stepper-panel {
          .stepper-container {
            .step {
              width: 100%;
              display: flex;
              .circle-container {
                width: 32px;
                margin: 0 10px 0 0;
              }
              .label-container {
                visibility: visible;
              }
              .connect-line {
                width: 40%;
                right: calc(50%);
                left: calc(-50% + 15px);
              }
            }
          }
        }
        .form {
          padding-top: 64px;
          .part-one {
            .telephone-email,
            .city-address,
            .title-name {
              display: flex;
              justify-content: space-between;
            }
            .select-wrapper,
            .city-wrapper {
              width: 30%;
            }
            .name-wrapper,
            .address {
              width: 60%;
            }
            .telephone,
            .email {
              width: 45%;
            }
          }
          .part-two {
            .tansport-method {
              width: 435px;
              height: 60px;
            }
          }
        }
      }
      .right-content {
        order: 3;
        h3 {
          display: block;
          margin-bottom: 34px;
        }
        .product-info{
          display: grid;
          width: 65%;
          align-items: flex-start;
          grid-auto-flow: column;
          grid-template-columns: 3fr 2fr;
          grid-template-rows: auto auto;
          .price{
            text-align: right;
          }
        }
      }
      hr {
        display: none;
      }
      .control-panel {
        order: 4;
        justify-content: end;
        position: relative;
        .btn {
          width: 174px;
          height: 46px;
          &.first-next-step {
            width: 174px;
          }
          &.last-step {
            position: absolute;
            left: 15px;
            text-align: left;
          }
          &.first-last-step {
            display: inline;
          }
          &.next-step {
            background-color: $pink;
          }
        }
      }
    }
  }

  footer {
    height: 284px;
    display: flex;
    background: #F6F7F8;
    padding-top: 46px;
    span {
      color: $gray;
    }
    .footer-logo {
      width: 175.49px;
      height: 31px;
    }
    .follow-us {
      .footer-icons {
        display: flex;
        img {
          width: 24px;
          height: 24px;
          margin-right: 15px;
        }
      }
    }
  }
}

[data-theme="dark"] {
  body{
    background-color: #383838;
  }
   header{
     background: black;
     nav{
       background-color: black;
     }
     a{
       color: white;
     }
   }
   main{
     background: black;
     h1, h2, h3, span,.last-step, div {
       color: white;
     }
     .form .part input, .form .part-one select,  .upper-content .form .part-two .transport-method{
       border: 1px solid rgba(255, 255, 255, 0.2);
       background-color:black;
       color: white;
       &.selected{
         border: 2px solid white
       }
       input {
        &[type="radio"] {
            &:checked {
            box-shadow: inset 0 0 0 5px white;
            
          }
        }
       }
     }
     .cart{
      background-color:#383838;
      border: 1px solid rgba(255, 255, 255, 0.2)
     }
   }
   footer{
     background-color: #383838;
     h2{
       color: white;
     }
   }
  
}